<div *ngIf="recipe">

<mat-toolbar>
	<mat-form-field style="width:50%"> 
			<input matInput name="input_title" [readonly]="!title_edit" [(ngModel)]="userRecipe.title" />

			<button mat-icon-button *ngIf="!title_edit" matSuffix (click)="title_edit = !title_edit">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button *ngIf="title_edit" matSuffix (click)="title_edit = !title_edit">
				<mat-icon>done</mat-icon>
			</button>
			
	</mat-form-field> 
	
	<span class="fill-remaining-space"></span>
	<button mat-raised-button color="primary" (click)="doneEditing()">
		<mat-icon>done</mat-icon>
		<span>save to my twists</span>
	</button>
</mat-toolbar>

<br>
<mat-toolbar color="accent">Ingredients</mat-toolbar>
<br>

<mat-list class="app-class"> 
	<mat-list-item *ngFor="let ingredient of recipe.ingredients;let i=index" > 
		<div style="widh:50%" *ngIf="this.userRecipe.ingredients_edits[i]"> 
			<span style="text-decoration: line-through;">{{ingredient}} </span>&nbsp;
		</div> 
		<mat-form-field style="width:50%"> 
			
			<textarea matInput matTextareaAutosize matAutosizeMaxRows=8 matAutosizeMinRows=1  [readonly]="!input_ingredients[i].edit" [(ngModel)]="input_ingredients[i].details"></textarea>
			
			<button mat-icon-button *ngIf="!input_ingredients[i].edit" matSuffix (click)="input_ingredients[i].edit = !input_ingredients[i].edit">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button *ngIf="input_ingredients[i].edit" matSuffix (click)="ingredientEdit(i,input_ingredients[i].details)">
				<mat-icon>done</mat-icon>
			</button>
		</mat-form-field> 
	
	</mat-list-item>
	
	<mat-list-item *ngFor="let i of keys(input_ingredients)">
		<mat-form-field style="width:50%" *ngIf="!this.recipe.ingredients[i]"> 
			<textarea matInput matTextareaAutosize matAutosizeMaxRows=8 matAutosizeMinRows=1  [readonly]="!input_ingredients[i].edit" [(ngModel)]="input_ingredients[i].details"></textarea>
			
			<mat-icon matPrefix>add</mat-icon>
			
			<button mat-icon-button *ngIf="!input_ingredients[i].edit" matSuffix (click)="input_ingredients[i].edit = !input_ingredients[i].edit">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button *ngIf="input_ingredients[i].edit" matSuffix (click)="ingredientEdit(i,input_ingredients[i].details)">
				<mat-icon>done</mat-icon>
			</button>
		</mat-form-field>
	</mat-list-item>
	
	<mat-list-item *ngIf="input_new_ingredient.edit">
		<mat-form-field style="width:50%"> 
		<textarea matInput matTextareaAutosize matAutosizeMaxRows=8 matAutosizeMinRows=1 [(ngModel)]="input_new_ingredient.details"></textarea>
		<button mat-icon-button matSuffix (click)="addNewIngredient()" >
				<mat-icon>done</mat-icon>
		</button>
		</mat-form-field>
	</mat-list-item>
	
	<mat-list-item>
		<button mat-icon-button color="primary" (click)="input_new_ingredient.edit = true">
				<mat-icon>add</mat-icon>
		</button>
	</mat-list-item>
	
</mat-list>

<br>
<mat-toolbar color="accent">Steps</mat-toolbar>
<br>

<mat-list class="app-class"> 
	<mat-list-item  *ngFor="let step of recipe.steps;let i=index" >
		<div style="width:50%" *ngIf="this.userRecipe.steps_edits[i]"> 
			<span style="text-decoration: line-through;">{{step}} </span>&nbsp;
		</div> 
		<mat-form-field style="width:50%">
			<textarea matInput matTextareaAutosize matAutosizeMaxRows=8 matAutosizeMinRows=3  [readonly]="!input_steps[i].edit" [(ngModel)]="input_steps[i].details"></textarea>
			<button mat-icon-button *ngIf="!input_steps[i].edit" matSuffix (click)="input_steps[i].edit = !input_steps[i].edit">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button *ngIf="input_steps[i].edit" matSuffix (click)="stepEdit(i,input_steps[i].details)">
				<mat-icon>done</mat-icon>
			</button>
		</mat-form-field> 
	</mat-list-item> 
</mat-list>

</div>