<div>
<mat-toolbar color="accent">Purpose of the project</mat-toolbar>
	<p>
		Learn more about angular and spring.
	</p>
<mat-toolbar color="accent">Structure of the project</mat-toolbar>
	<p>
		This project uses a spring back-end and angular front-end. 
		<br>
		The recipes are from: <a href="www.tasteofhome.com">www.tasteofhome.com</a>
	</p>
<mat-toolbar color="accent">Future plans </mat-toolbar>
	<p>
		Implement a user-login system.
		<br>
		Add more functionality to the search feature.
		<br>
		Secure the back-end so it is only acessable from the front-end.
	</p>
</div>
