
<br>
<div style="max-width:900px;display:block;margin-left:auto;margin-right:auto">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<img src="assets/img/chicken.jpg" style="width:100%; height: 100%;" alt="chicken">
		</mat-grid-tile>
		
		<mat-grid-tile>
			<img src="assets/img/beef.jpg" style="width:100%; height: 100%;" alt="beef">
		</mat-grid-tile>
		
		<mat-grid-tile>
			<img src="assets/img/soup.jpg" style="width:100%; height: 100%;" alt="soup">
		</mat-grid-tile>
		
		<mat-grid-tile>
			<img src="assets/img/cake.jpeg" style="width:100%; height: 100%;" alt="cake">
		</mat-grid-tile>
	</mat-grid-list>
</div>
<br>

<mat-toolbar color="accent">
	<mat-form-field style="width:100%;">
		<mat-chip-list #chipList>
			<mat-chip *ngFor="let ingredient of ingredients" [selectable]="selectable" [removable]="removable" (removed)="remove(ingredient)">
				{{ingredient}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<input placeholder="Find recipes with ..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
		</mat-chip-list>
	</mat-form-field>
	
	<button mat-icon-button>
		<mat-icon (click)="searchEvent()">search</mat-icon>
	</button>
</mat-toolbar>
